<!-- Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-md scrolling-navbar navbar-dark bg-default" [containerInside]="false" >

    <!-- Breadcrumb-->
    <div class="breadcrumb-dn mr-auto animated bounce infinite">
            
        <h6>
          <img class="animated bounce infinite" src="https://raw.githubusercontent.com/lehongphuong/hien/master/WebContent/img/custom/logo.png">
          <b>SMART ORDER</b>
        </h6>
    </div>
    <!--/. Breadcrumb-->
    
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
        <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">HOME</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">FINISH</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-user"></i> <span class="clearfix d-none d-sm-inline-block">INFO</span></a>
    </li>
     
    </ul>

</mdb-navbar>
<!--/. Navbar -->
 
 